:root {
    --dark: #292861;
    --light: #FFFFFF;
    --primary: #7372B5;
    --accent: #F0EDFF;
}

body {
    background-image: url(/pics/comissions/banners/webbanner.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    font-size: 2em;
    font-family: Fredoka, sans-serif;
    font-weight: 400;
    color: var(--dark);
    margin: 0;
    padding: 0;
}

h1 {
    font-weight: 500;
    font-size: 2em;
}

h2 {
    font-weight: 500;
    font-size: 1em;
}
