.fanart-container {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--light);
}

.fanart-container img {
  max-width: 10em;
  transition: .5s ease;
}

.fanart-container img:hover {
  transform: scale(1.1);
}
