.footer {
  display: flex;
  justify-content: space-between;
  padding: 0 1em;
  font-size: 1em;
  gap: 1em;
}

.footer img {
  max-width: 1.5em;
}

hr {
  margin: 0;
}

.footer span {
  align-self: center;
}

.footer a {
  transition: 0.5s ease;
}

.footer .social-links {
  display: flex;
  flex-wrap: wrap;
}

.footer a:hover {
  transform: scale(1.1);
}
