header {
    background-color: lightblue;
    height: 7em;
    margin: 0em;
    padding: 0em;
}

header nav {
    height: 100%;
    width: 100%;
    display: flex;
}

header nav a {
    display: contents;
}

header nav img {
    transition: .2s;
    max-height: 100%;
    margin: .3em;
    margin-left: .5em;
    margin-right: .5em;
    transform: scale(0.8);
}

header nav .profilePic {
    box-shadow: 0px 0px 5px black;
    border: solid blue;
    border-radius: 50%;
    border-width: .35em;
}

header nav img:hover {
    transform: scale(1);
}

header nav .profilePic:hover {
    box-shadow: 0px 0px 5px black;
    border: solid red;
    border-radius: 50%;
    border-width: .35em;
}

header nav .mail {
    filter: opacity(0.6);
}

header nav .mail:hover {
    filter: opacity(1);
}

header nav ul {
    width: 100%;
    display: flex;
    margin: 2em;
    list-style: none;
    padding: 0;
    justify-content: space-evenly;
}

header nav ul li {
    transition: .2s;
    transform: scale(0.8);
    padding: .8em;
    border-radius: 15%;
    font-size: larger;
    background-color: aliceblue;
}

header nav ul li:hover {
    transform: scale(1);
}