.description {
  background-color: var(--secondary-color-2);
  margin: 0;
}

.description h1 {
  padding: 0em 1em 0em 1em;
  margin: 0;
}

.description p {
  padding: 0em 1em 1em 1em;
  margin: 0;
}

.description img {
  width: 100%;
}

.links {
  background-color: var(--secondary-color-1);
  padding-bottom: 1em;
}

.link-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.links h1 {
  margin: 0;
  padding-left: 1em;
  padding-top: 1em;
}

.links a:first-of-type {
  margin: .5% 2.5%;
  padding: 1%;
  grid-column: span 2;
}

.links img {
  max-width: 2em;
}

.links a {
  display: flex;
  gap: 1em;
  text-align: center;
  text-decoration: none;
  background-color: var(--accent-color-1);
  margin: 1% 5%;
  padding: 2%;
  border-width: 4px;
  border-radius: 100px;
  transition: 0.5s ease;
  align-items: center;
  justify-content: center;
}

.links a:hover {
  transform: scale(1.03);
}

@media (max-width: 800px) {
  .links a {
    grid-column: span 2;
  }

  .links a:first-of-type {
    margin: 1% 5%;
    padding: 2%;
    grid-column: span 2;
  }
}
