.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0em 1em;
}

.navbar .logo img {
  max-width: 2em;
  border-radius: 50%;
  transition: ease 0.3s;
}

.navbar .logo img:hover {
  transform: scale(1.1);
}

.navbar ul {
  display: flex;
  list-style: none;
  justify-content: center;
  gap: 2em;
}

.navbar .nav-links li a {
  text-decoration: none;
}

.navbar .nav-links li {
  font-size: 0.8em;
  font-weight: 500;
  transition: ease 0.3s;
}

.navbar .nav-links li:hover {
  transform: scale(1.1);
}

.mail img {
  max-width: 2em;
  transition: ease 0.3s;
}


.mail img:hover {
  transform: scale(1.1);
}

@media (max-width: 800px) {
  .navbar .nav-links {
    flex-wrap: wrap;
  }
}
